//REGULAR
@font-face {
    font-family: "Titillium Web";
    src: url('/src/assets/fonts/Bruno.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
//BOLD
@font-face {
    font-family: "Titillium Web";
    src: url('/src/assets/fonts/Bonbon.ttf') format('truetype');
    font-weight: 600;
}
